<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4">
  <!--Social buttons-->
  <div class="text-center mb-3">

    <a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
      <i class="fa fa-facebook"> </i>
    </a>
    <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
      <i class="fa fa-twitter"> </i>
    </a>
    <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
      <i class="fa fa-google-plus"> </i>
    </a>
    <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
      <i class="fa fa-linkedin"> </i>
    </a>
    <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
      <i class="fa fa-github"> </i>
    </a>
    <a class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
      <i class="fa fa-pinterest"> </i>
    </a>
    <a class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
      <i class="fa fa-instagram"> </i>
    </a>

  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2017 Copyright:
      <a href="/"> gcic.com </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
