<div class="full-height">
  <div class="view" style="background-image: url(../../assets/img/ian-schneider-66374-unsplash-min.jpg);
        background-attachment: scroll; height: 90vh; background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container">
        <div class="d-flex mt-5 d-flex justify-content-center" style="height: auto">
          <div class="row">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="intro-info-content text-center">
                <h2 class="h1 display-1 mb-2 wow fadeInDown white-text font-bold" data-wow-delay="0.3s">ABOUT US</h2>
                <hr class="w-25">
                <hr class="w-25 btn-deep-orange">
                <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn white-text" data-wow-delay="0.4s">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut felis a quam malesuada pretium eget
                  consequat nulla. Donec sodales placerat purus quis venenatis. Aenean a consectetur turpis, et iaculis nulla.
                  Proin porta libero congue, sagittis nunc a, convallis ex. Duis ultrices sem aliquam congue porttitor.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ribbon">
      <div class="first-slant flip-horizontal"></div>
      <div class="second-slant btn-deep-orange"></div>
    </div>
  </div>
</div>
