.container{
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
}
.contact-body{
  height: 500px;
}
.text-header{
  font-size: 30px;
  font-weight: bold !important;
}
.text-deep-orange{
  color: #ff5722;
}
.social{
  margin-top: 150px !important;
}
.md-form label {
  color: #02B0BB !important;
}
.c-btn{
  margin: 0px auto;
}
