<div class="full-height">
  <div class="view" style="background-image: url(../../assets/img/rawpixel-659505-unsplash.jpg);
        background-attachment: scroll; height: 600px; background-size: cover;">
  </div>
  <div class="contact-body mb-5">
    <div class="container">
      <!-- Form with header -->
      <div class="card mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-8">

            <div class="card-body form">

              <!-- Header -->
              <h3 class="mt-5 mb-5 text-deep-orange text-header">Send Us A Message</h3>

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-name" class="form-control" mdbInputDirective>
                    <label for="form-contact-name" class="">Full Name</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-email" class="form-control" mdbInputDirective>
                    <label for="form-contact-email" class="">EMAIL</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-phone" class="form-control" mdbInputDirective>
                    <label for="form-contact-phone" class="">PHONE</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-company" class="form-control" mdbInputDirective>
                    <label for="form-contact-company" class="">COMPANY</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 mt-5 z-depth-3 pb-5 mr-3 ml-3">
                  <div class="md-form mb-0">
                    <textarea type="text" id="form-contact-message" class="form-control md-textarea"  mdbInputDirective rows="3"></textarea>
                    <label for="form-contact-message">MESSAGE</label>
                    <a class="c-btn btn-lg theme-background w-50 white-text text-center">Submit</a>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 theme-background">

            <div class="card-body contact text-center h-100 white-text">

              <h3 class="my-4 pb-2">Contact Information</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p>123 Investment Drive,</p>
                </li>
                <li>
                  <p>New Kingston,</p>
                </li>
                <li>
                  <p>Jamaica</p>
                </li>
                <li>
                  <p>&nbsp;</p>
                </li>
                <li>
                  <p>1(876)123-4567</p>
                </li>
                <li>
                  <p>&nbsp;</p>
                </li>
                <li>
                  <p>Loremlpsum@gmail.com</p>
                </li>
              </ul>
              <hr class="hr-light my-4 social">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a class="p-2 fa-lg tw-ic">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg li-ic">
                    <i class="fa fa-linkedin"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-instagram"> </i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Form with header -->

    </div>
  </div>
</div>
