<div class="card alert-container border-top-0 h-50 animated fadeIn">
  <div class="card-up w-100"></div>
  <!--Card content-->
  <div class="card-body">
    <div class="media zoom">
      <a class="media-left waves-light">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <!--<h4 class="media-heading">John Doe</h4>-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
        <p><strong>1 minute ago</strong></p>
      </div>
    </div>
    <div class="media zoom">
      <a class="media-left waves-light">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <!--<h4 class="media-heading">John Doe</h4>-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
        <p><strong>1 minute ago</strong></p>
      </div>
    </div>
    <div class="media zoom">
      <a class="media-left waves-light">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <!--<h4 class="media-heading">John Doe</h4>-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
        <p><strong>1 minute ago</strong></p>
      </div>
    </div>
  </div>
  <!--/.Card content-->
</div>
<!--/.Card Light-->
