<div class="full-height">
  <div class="wrapper pb-3">
    <div class="row nopadding">
      <div class="col-md-7 padding-right">
        <div class="row">
          <div class="col-md-12">
            <div class="content cs-lg view hoverable" mdbWavesEffect>
              <div class="content-child">
                <div class="avatar">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" height="130px" class="rounded-circle" light>
                </div>
                <div class="mt-2 d-text">My GCIC Card</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 padding-right">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="text-center h5 top-text-md pt-3">Payment History</div>
              <hr class="w-75 mt-0 hr-1">
              <div class="content-child">
                <div class="text-center">
                  <div class="h6">Last Payment</div>
                  <div class="h6">$100.00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 padding-left">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="content-child">
                <i class="fa fa-refresh fa-3x color-b" aria-hidden="true"></i>
                <div class="mt-1 d-text">Refresh Membership</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 padding-right">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="content-child">
                <i class="fa fa-phone fa-3x color-b" aria-hidden="true"></i>
                <div class="mt-1 d-text">Support</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 padding-left padding-right">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="content-child">
                <div class="d-text">Benefits</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 padding-left">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="content-child">
                <div class="d-text">Partnering</div>
                <div class="d-text">Companies</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 padding-left">
        <div class="row">
          <div class="col-md-12">
            <div class="content cs-lg view hoverable" mdbWavesEffect>
              <div class="text-center h5 top-text pt-3">My Account</div>
              <hr class="w-25 mt-0 hr-1">
              <div class="content-child w-75">
                <div class="text-center">
                  <div class="h6">Upgrade/Downgrade</div>
                  <hr class="w-100">
                  <div class="h6">My Profile</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content cs-md view hoverable" mdbWavesEffect>2 of 2</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content cs-md view hoverable" mdbWavesEffect>
              <div class="content-child">
                <i class="fa fa-envelope fa-3x color-o" aria-hidden="true"></i>
                <div class="mt-2 d-text">Messages</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
