/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif;
}
.theme-background{
  background-color: #02B0BB;
}
.btn-fb{
  background-color: #3b5999;
}
.btn-gle{
  background-color: #d54636;
}
.refresh-bt{
  color: #02B0BB;
}
.color-b{
  color: #02B0BB;
}
.color-o{
  color: #F9591C;
}
.bg-color-b{
  background-color: #02B0BB;
}
.bg-color-o{
  background-color: #F9591C;
}
