<!--Carousel Wrapper-->
<!--<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">-->
  <!--<mdb-slide *ngFor="let item of sliderIems">-->
    <!--<div class="view">-->
      <!--<img class="d-block w-100" [src]="item.img" alt="First slide">-->
      <!--<div class="mask rgba-black-light waves-light" mdbWavesEffect></div>-->
    <!--</div>-->
    <!--<div class="carousel-caption">-->
      <!--<h1 class="h1-responsive"><strong>{{item.title}}</strong></h1>-->
      <!--<p>{{item.text}}</p>-->
    <!--</div>-->
  <!--</mdb-slide>-->
<!--</mdb-carousel>-->
<!--/.Carousel Wrapper-->
<section>
  <div class="view intro" style="background-image: url(../../assets/img/thought-catalog-547018-unsplash.jpg); background-attachment: fixed; background-size: cover; height: 500px;">
    <div class="full-bg-img mask rgba-white-light">
      <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="intro-info-content text-center">
                <h1 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Lorem Ipsum</h1>
                <h5 class="font-up mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                <h5 class="font-up font-bold wow fadeIn" data-wow-delay="0.4s">sed mollis purus, sed tristique nisl.</h5>
                <h5 class="font-up font-bold wow fadeIn" data-wow-delay="0.4s">Donec egestas vulputate justo.</h5>
                <a class="btn btn-white btn-lg wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s" href="/register">Get Started</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 image-element">
        <div class="img-wrap">
          <img class="img-fluid" src="../../assets/img/jeremy-bishop-74123-unsplash.jpg"/>
        </div>
      </div>
      <div class="col-md-6 text-element">
        <div class="text-content">
          <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Plant a seed and we will help you grow</h2>
          <div class="mbr-section-text">
            <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut felis a quam malesuada pretium eget
              consequat nulla. Donec sodales placerat purus quis venenatis. Aenean a consectetur turpis, et iaculis nulla.
              Proin porta libero congue, sagittis nunc a, convallis ex. Duis ultrices sem aliquam congue porttitor.
            </p>
          </div>
          <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-element">
        <div class="text-content">
          <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Commitment is the first step</h2>
          <div class="mbr-section-text">
            <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut felis a quam malesuada pretium eget
              consequat nulla. Donec sodales placerat purus quis venenatis. Aenean a consectetur turpis, et iaculis nulla.
              Proin porta libero congue, sagittis nunc a, convallis ex. Duis ultrices sem aliquam congue porttitor.
            </p>
          </div>
          <div class="mbr-section-btn pt-3 align-left"><a class="btn btn-md btn-info display-4" href="https://mobirise.com">Read More</a></div>
        </div>
      </div>
      <div class="col-md-6 image-element">
        <div class="img-wrap">
          <img class="img-fluid" src="../../assets/img/benita-elizabeth-vivin-592653-unsplash.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="view intro" style="background-image: url(../../assets/img/taylor-grote-415993-unsplash.jpg); background-size: cover; background-attachment: fixed; height: 500px;">
    <div class="full-bg-img mask rgba-white-light">
      <div class="container">
        <div class="d-flex d-flex pull-right" style="height: 500px">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="intro-info-content bj-quote">
                <p>"An investment in</p>
                <p>in knowledge pays the</p>
                <p>best interest"</p>
                <p>-Benjamin Franklin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
